[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
importlib = "*"
traci = "*"
jupyter = "*"
matplotlib = "*"
pandas = "*"
psutil = "*"
openpyxl = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
